<div class="landing">

    <div class="container h-100">

        <div class="row d-flex">

            <!-- <h1 class="display-1 text-info" style="margin-top: 25vh; text-shadow: 0 1px 0 black;"><strong>About us</strong></h1> -->

        </div>          
          
    </div>

   
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Our Company</h1><br>
        <p class="h6"><strong>Your trusted insurance partner since 1975</strong></p><br>
        <p class="lead"><strong class="theme-color">ECICS</strong> was set up in 1975 by the Singapore government to encourage and support the growth of export.

            ECICS were eventually privatised and is now a wholly subsidiary of IFS Capital Limited, a public listed financial group on Singapore SGX board. Its ultimate parent company is PhilipCapital Group which is one of the largest financial institutions in Singapore.
            
            In 2013, ECICS became a full-licensed general insurer under the approval of Monetary Authority of Singapore. This allow ECICS to write a full range of general insurance business product lines.</p>
        
      </div>
</div>


