<div class="landing">

    <div class="container">
        <div class="row button-row no-gutters justify-content-center"> 
            <div class="col-auto">
                <button type="button" class="btn btn-primary motor" [routerLink]="['/motor']">
                    <div class="mt-2">
                        <fa-icon [icon]="faCar" size="3x"></fa-icon>
                        <h6 class="font-weight-bold mt-2 text-white">Motor</h6>
                    </div>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-warning motor">
                    <div class="mt-2">
                        <fa-icon [icon]="faHome" size="3x"></fa-icon>
                        <h6 class="font-weight-bold mt-2 text-white">Home</h6>
                    </div>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-info motor">
                    <div class="mt-2">
                        <fa-icon [icon]="faUserAlt" size="3x"></fa-icon>
                        <h6 class="font-weight-bold mt-2 text-white">Maid</h6>
                    </div>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-danger motor">
                    <div class="mt-2">
                        <fa-icon [icon]="faCrutch" size="3x"></fa-icon>
                        <h6 class="font-weight-bold mt-2 text-white">Personal Accident</h6>
                    </div>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-success motor">
                    <div class="mt-2">
                        <fa-icon [icon]="faBuilding" size="3x"></fa-icon>
                        <h6 class="font-weight-bold mt-2 text-white">Biz Package</h6>
                    </div>
                </button>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <h2 style="font-family: Crimson Pro; font-size:3em;">Why Us?</h2>

</div>



